/* 이 파일은 sado_colors.json의 설정을 바탕으로 자동 생성됩니다. 직접 수정하지 마세요. */
.tag-box[data-sado="alice"] {
  background-color: #CAA4DD;
}

.tag-box[data-sado="allet"] {
  background-color: #C0B4B6;
}

.tag-box[data-sado="amelia"] {
  background-color: #926F6E;
  color: #fff;
}

.tag-box[data-sado="ameliar41"] {
  background-color: #E34BF8;
  color: #fff;
}

.tag-box[data-sado="aragnia"] {
  background-color: #608DFE;
}

.tag-box[data-sado="arco"] {
  background-color: #8640C6;
  color: #fff;
}

.tag-box[data-sado="arnet"] {
  background-color: #C8B596;
}

.tag-box[data-sado="asana"] {
  background-color: #FC864C;
}

.tag-box[data-sado="ashur"] {
  background-color: #E6838D;
}

.tag-box[data-sado="aya"] {
  background-color: #F1F8FF;
}

.tag-box[data-sado="ayla"] {
  background-color: #908984;
  color: #fff;
}

.tag-box[data-sado="bana"] {
  background-color: #EDB983;
}

.tag-box[data-sado="barie"] {
  background-color: #973B58;
  color: #fff;
}

.tag-box[data-sado="barong"] {
  background-color: #878682;
  color: #fff;
}

.tag-box[data-sado="belita"] {
  background-color: #D3A9A9;
}

.tag-box[data-sado="beni"] {
  background-color: #64443E;
  color: #fff;
}

.tag-box[data-sado="benibeni"] {
  background-color: #FBBE42;
}

.tag-box[data-sado="bigwood"] {
  background-color: #97A262;
}

.tag-box[data-sado="blanche"] {
  background-color: #2660E1;
  color: #fff;
}

.tag-box[data-sado="butter"] {
  background-color: #EEC375;
}

.tag-box[data-sado="canna"] {
  background-color: #B77148;
  color: #fff;
}

.tag-box[data-sado="canta"] {
  background-color: #65929E;
  color: #fff;
}

.tag-box[data-sado="carren"] {
  background-color: #DA9796;
}

.tag-box[data-sado="chloe"] {
  background-color: #BB3626;
  color: #fff;
}

.tag-box[data-sado="chopi"] {
  background-color: #C0B4B6;
}

.tag-box[data-sado="coolwhisp"] {
  background-color: #FBAD25;
}

.tag-box[data-sado="crayonknight"] {
  background-color: #FBAD25;
}

.tag-box[data-sado="crepe"] {
  background-color: #FCBAB7;
}

.tag-box[data-sado="cuee"] {
  background-color: #916F6D;
  color: #fff;
}

.tag-box[data-sado="daya"] {
  background-color: #A8BBC8;
}

.tag-box[data-sado="dayapureshine"] {
  background-color: #77C8F7;
}

.tag-box[data-sado="delia"] {
  background-color: #C597A4;
}

.tag-box[data-sado="diana"] {
  background-color: #C19079;
}

.tag-box[data-sado="dianayester"] {
  background-color: #C03632;
  color: #fff;
}

.tag-box[data-sado="ed"] {
  background-color: #808191;
  color: #fff;
}

.tag-box[data-sado="eisia"] {
  background-color: #4D98DF;
  color: #fff;
}

.tag-box[data-sado="eisiafridge"] {
  background-color: #4D98DF;
  color: #fff;
}

.tag-box[data-sado="elena"] {
  background-color: #DA9798;
}

.tag-box[data-sado="empty"] {
  background-color: #FBAD25;
}

.tag-box[data-sado="epica"] {
  background-color: #BDD2F0;
}

.tag-box[data-sado="erpin"] {
  background-color: #F09D7D;
}

.tag-box[data-sado="erpinroyale"] {
  background-color: #CE4079;
  color: #fff;
}

.tag-box[data-sado="espi"] {
  background-color: #D4B9BA;
}

.tag-box[data-sado="festa"] {
  background-color: #EC7A84;
}

.tag-box[data-sado="fricle"] {
  background-color: #675359;
  color: #fff;
}

.tag-box[data-sado="gabia"] {
  background-color: #8A5350;
  color: #fff;
}

.tag-box[data-sado="gloomywhisp"] {
  background-color: #FBAD25;
}

.tag-box[data-sado="goldy"] {
  background-color: #D09D4B;
}

.tag-box[data-sado="guin"] {
  background-color: #FE9E47;
}

.tag-box[data-sado="haley"] {
  background-color: #E83B92;
  color: #fff;
}

.tag-box[data-sado="haleysane"] {
  background-color: #397192;
  color: #fff;
}

.tag-box[data-sado="heidi"] {
  background-color: #A79B93;
}

.tag-box[data-sado="hilde"] {
  background-color: #CCE993;
}

.tag-box[data-sado="ifrit"] {
  background-color: #EE5C3A;
  color: #fff;
}

.tag-box[data-sado="inkle"] {
  background-color: #0E0E10;
  color: #fff;
}

.tag-box[data-sado="jade"] {
  background-color: #85A491;
}

.tag-box[data-sado="joanne"] {
  background-color: #83AF8E;
}

.tag-box[data-sado="jollywhisp"] {
  background-color: #FBAD25;
}

.tag-box[data-sado="jubee"] {
  background-color: #D89E5A;
}

.tag-box[data-sado="kathy"] {
  background-color: #5A5B5A;
  color: #fff;
}

.tag-box[data-sado="kidian"] {
  background-color: #604E65;
  color: #fff;
}

.tag-box[data-sado="kommy"] {
  background-color: #FFA8A7;
}

.tag-box[data-sado="kommyswim"] {
  background-color: #FFA8A7;
}

.tag-box[data-sado="kyarot"] {
  background-color: #F49C62;
}

.tag-box[data-sado="laika"] {
  background-color: #00E4AE;
}

.tag-box[data-sado="lazy"] {
  background-color: #C0B4B6;
}

.tag-box[data-sado="leets"] {
  background-color: #8F868A;
  color: #fff;
}

.tag-box[data-sado="lethe"] {
  background-color: #A8BCC7;
}

.tag-box[data-sado="levi"] {
  background-color: #A0385A;
  color: #fff;
}

.tag-box[data-sado="levigraduate"] {
  background-color: #854553;
  color: #fff;
}

.tag-box[data-sado="lion"] {
  background-color: #A0304C;
  color: #fff;
}

.tag-box[data-sado="maestromk2"] {
  background-color: #35B7AE;
}

.tag-box[data-sado="mago"] {
  background-color: #B6BBCB;
}

.tag-box[data-sado="maison"] {
  background-color: #916F6D;
  color: #fff;
}

.tag-box[data-sado="makasha"] {
  background-color: #AC9791;
}

.tag-box[data-sado="marie"] {
  background-color: #E7BBBB;
}

.tag-box[data-sado="mayo"] {
  background-color: #A0B5D5;
}

.tag-box[data-sado="mayocool"] {
  background-color: #5E6D83;
  color: #fff;
}

.tag-box[data-sado="meluna"] {
  background-color: #BCD190;
}

.tag-box[data-sado="miro"] {
  background-color: #AE396D;
  color: #fff;
}

.tag-box[data-sado="momo"] {
  background-color: #BB3626;
  color: #fff;
}

.tag-box[data-sado="mute"] {
  background-color: #47BAAB;
}

.tag-box[data-sado="mynx"] {
  background-color: #C0B4B6;
}

.tag-box[data-sado="naia"] {
  background-color: #91D2EB;
}

.tag-box[data-sado="naivewhisp"] {
  background-color: #FBAD25;
}

.tag-box[data-sado="ner"] {
  background-color: #847592;
  color: #fff;
}

.tag-box[data-sado="nerrage"] {
  background-color: #716A8F;
  color: #fff;
}

.tag-box[data-sado="neti"] {
  background-color: #26354A;
  color: #fff;
}

.tag-box[data-sado="opal"] {
  background-color: #CFEAFF;
}

.tag-box[data-sado="orr"] {
  background-color: #649BA6;
  color: #fff;
}

.tag-box[data-sado="patula"] {
  background-color: #C0B4B6;
}

.tag-box[data-sado="picora"] {
  background-color: #8DC9CA;
}

.tag-box[data-sado="pira"] {
  background-color: #7B5B2F;
  color: #fff;
}

.tag-box[data-sado="polan"] {
  background-color: #385E51;
  color: #fff;
}

.tag-box[data-sado="posher"] {
  background-color: #D67B8F;
}

.tag-box[data-sado="ran"] {
  background-color: #7F4AA6;
  color: #fff;
}

.tag-box[data-sado="renewa"] {
  background-color: #E8D7B7;
}

.tag-box[data-sado="renewa_1"] {
  background-color: #E8D7B7;
}

.tag-box[data-sado="renewa_2"] {
  background-color: #E8D7B7;
}

.tag-box[data-sado="renewaawaken"] {
  background-color: #43475D;
  color: #fff;
}

.tag-box[data-sado="ricota"] {
  background-color: #3F3763;
  color: #fff;
}

.tag-box[data-sado="rim"] {
  background-color: #AB474A;
  color: #fff;
}

.tag-box[data-sado="rimchaos"] {
  background-color: #DC2826;
  color: #fff;
}

.tag-box[data-sado="risty"] {
  background-color: #AE6D7F;
  color: #fff;
}

.tag-box[data-sado="rohne"] {
  background-color: #C1B4B7;
}

.tag-box[data-sado="rohnemayor"] {
  background-color: #7053BC;
  color: #fff;
}

.tag-box[data-sado="rollett"] {
  background-color: #C65A66;
  color: #fff;
}

.tag-box[data-sado="rude"] {
  background-color: #C75B5C;
  color: #fff;
}

.tag-box[data-sado="rufo"] {
  background-color: #F69E72;
}

.tag-box[data-sado="sari"] {
  background-color: #C0B4B6;
}

.tag-box[data-sado="scizor"] {
  background-color: #5A5B5A;
  color: #fff;
}

.tag-box[data-sado="selline"] {
  background-color: #F7AFBB;
}

.tag-box[data-sado="shady"] {
  background-color: #9DBAC1;
}

.tag-box[data-sado="shadytwisted"] {
  background-color: #353143;
  color: #fff;
}

.tag-box[data-sado="shasha"] {
  background-color: #5598B8;
  color: #fff;
}

.tag-box[data-sado="sherum"] {
  background-color: #727586;
  color: #fff;
}

.tag-box[data-sado="shoupan"] {
  background-color: #FFE182;
}

.tag-box[data-sado="silphir"] {
  background-color: #8AA9CF;
}

.tag-box[data-sado="sist"] {
  background-color: #BD8CB7;
}

.tag-box[data-sado="snorky"] {
  background-color: #413C3D;
  color: #fff;
}

.tag-box[data-sado="speaki"] {
  background-color: #71566C;
  color: #fff;
}

.tag-box[data-sado="speakimaid"] {
  background-color: #EF9964;
}

.tag-box[data-sado="suro"] {
  background-color: #7AB7A8;
}

.tag-box[data-sado="sylla"] {
  background-color: #C9DBBA;
}

.tag-box[data-sado="taida"] {
  background-color: #DA9796;
}

.tag-box[data-sado="tig"] {
  background-color: #9AAABF;
}

.tag-box[data-sado="tighero"] {
  background-color: #496BFF;
  color: #fff;
}

.tag-box[data-sado="ui"] {
  background-color: #FFDB5B;
}

.tag-box[data-sado="unnamed"] {
  background-color: #808191;
  color: #fff;
}

.tag-box[data-sado="uros"] {
  background-color: #B61510;
  color: #fff;
}

.tag-box[data-sado="vela"] {
  background-color: #C5D2F3;
}

.tag-box[data-sado="velvet"] {
  background-color: #5C4F62;
  color: #fff;
}

.tag-box[data-sado="veroo"] {
  background-color: #C0B4B6;
}

.tag-box[data-sado="vivi"] {
  background-color: #B8AFB1;
}

.tag-box[data-sado="xxionx"] {
  background-color: #4C76AD;
  color: #fff;
}

.tag-box[data-sado="yomi"] {
  background-color: #8B78BF;
  color: #fff;
}

.tag-box[data-sado="youngchun"] {
  background-color: #768964;
  color: #fff;
}

.tag-box[data-sado="yumimi"] {
  background-color: #C0B4B6;
}
